
#loader {
    position: absolute;
    background: white;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.centered{
	width: 34%;
	height: 34%;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
    background:white;
    filter: blur(5px) contrast(10);
    z-index: 9998;
}

.blob-1,.blob-2{
	width:5rem;
	height:5rem;
	position:absolute;
	background:black;
	border-radius:50%;
	top:50%;left:50%;
	transform:translate(-50%,-50%);
}
.blob-1{
	left:20%;
	animation:osc-l 2.5s ease infinite;
}
.blob-2{
	left:80%;
	animation:osc-r 2.5s ease infinite;
	background: cyan;
}
@keyframes osc-l{
	0%{left:20%;}
	50%{left:50%;}
	100%{left:20%;}
}
@keyframes osc-r{
	0%{left:80%;}
	50%{left:50%;}
	100%{left:80%;}
}


#mainPage {
    opacity: 1;
}

body {
    font-weight: 300;
}

#navbar {
    padding: 2%;
    margin-left: 5%;
}

#navbar a {
    color: black;
    font-family: 'Open Sans';
    margin-right: 5%;
    font-size: 2vmin;
    border: none;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}

#navbar a:visited{
    text-decoration: none;
}


#splashPage {
    height: 100vh;
    background-size: cover;
    background-attachment: fixed; 
    background-image: url(TechBackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
}



 #splashPage h1 {
    text-align: left;
    top: 17%;
    left: 5%;
    width: 95%;
    display: flex;
    justify-content: left;
    font-size: 15vmin;
    font-family: bitter;
 }

 .contactLinks table {
     top: 70%;
     left: 2.5%;
     align-self: left;
     position: fixed;
 }

 .contactLinks td {
    padding-bottom: 5%;
 }

 .contactLinks img {
    width: 5%;
    z-index: 100;
 }

#intro h1 {
    text-align: left;
    top: 25%;
    display: flex;
    justify-content: left;
    padding-right: 8%;
    padding-left: 8%; 
    font-size: 6vmin;
    font-family: 'Open Sans';
}

#intro p {
    font-size: 3vmin;
    top: 30%;
    text-align: left;
    width: 75%;
    padding-right: 8%;
    padding-left: 8%; 
    font-family: 'Source Sans Pro';
}

#intro {
    /* background: linear-gradient(white, white); */
    /* background-color: #f0f5ff; */
    background-position: center;
    background-size: cover;
    height: 100vh;
}

#tools {
    /* background-color: #f0f5ff; */
    background-size: cover;
    height: 100vh;
}

#tools h1 {
    padding-top: 10vh;
    margin-left: 7%;
    font-family: Open Sans;
    font-size: 6vmin;
}

#iconTable {
    margin-top: 20vh;
    width: 50%;
    margin-left: 28%;
    align-content: center;
}


#iconTable td {
   align-self: center;
   align-content: center;
   align-items: center;
   padding-bottom: 10%;
}

#iconTable img {
    width: 50%;
    text-align: center;
    height: auto;
}

#projectsTitle {
    /* background-color: #f0f5ff; */
    top: 5%;
    height: 20vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#projectsTitle h2 {
    text-align: left;
    justify-content: left;
    margin-left: 7%;
    width: 93%;
    align-items: center;
    height: 15vh;
    font-size: 6vmin;
    font-family: 'Open Sans';
}

/* #projects {
    background-color: #f0f5ff;
} */

#projects figure{
    /* background-color: #f0f5ff; */
    width: 100%;
    height: 50vh;
}

#projects h4 {
    padding-top: 10vh;
    padding-bottom: 2%;
    text-align: inherit;
    font-family: 'Open Sans';
    font-size: 3vmin;
}

#projects img {
    padding-bottom: 4%;
    z-index: -1;
    position: relative;
}

#projects p {
    font-family:'Source Sans Pro';
    font-size: 2vmin;
    display: flex;
    width: 65%;
}

#textRight {
    margin-left: 35%;
}

#projects a {
    color: black;
    width: 50%;
    text-align: left;
}

#projects a:hover {
    text-decoration: none;
}

#projectsLeft {
    text-align: left;
    align-content: left;
}

#projectsRight {
    text-align: right;
    align-content: right;
}

#projectRow {
    height: 100%;
    margin-bottom: 5%;
}

footer #bottominfo {
    background-image: linear-gradient(#2C2C2C, #2C2C2C);
}

footer #bottominfo h1 {
      font-family: 'Open Sans';
      text-align: center;
      margin-top: 1%;
      color: white;
      font-size: 1.5vmin;
  }
  
  
footer nav {
      display: flex;
      justify-content: flex-end;
  }


  @media screen and (max-width: 600px) {
    .blob-1,.blob-2{
        width:4rem;
        height:4rem;
    }

    #projects figure {
        width: 100% !important;
    }

    #intro h1 {
        top: 20% !important;
        width: 100% !important;
    }

    #intro p {
        top: 25% !important;
        width: 100% !important;
        height: 20% !important;
        font-size: 3vmin !important;
        padding-right: 15%;
        padding-left: 15%; 
    }

    #navbar {
        margin-left: 5% !important;
    }

    #navbar a {
        font-size: 4vmin !important;
        margin-right: 5% !important;
        right: 5% !important;
    }

    #projects h4 {
        font-size: 4vmin !important;
    }

    #projects p {
        font-size: 3vmin !important;
    }

    footer #contactinfo a {
        font-size: 2vmin !important;
        margin-left: 5% !important;
    }

    footer #bottominfo h1 {
        font-size: 2vmin !important;
        height: 1vmin !important;
        padding-left: 5% !important;
    }
}