body {
    font-weight: 300;
}


#splashPage {
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(momentista-8Bt4XgLODpU-unsplash.jpg);
    background-position: center;
}



 #splashPage h1 {
    text-align: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    font-size: 7rem;
    font-family: 'Nanum Myeongjo', serif;
}

#intro h1 {
    text-align: center;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -10%;
    padding-right: 8%;
    padding-left: 8%; 
    font-size: 6rem;
    font-family: 'Nanum Myeongjo', serif;
}

#intro p {
    font-size: 2rem;
    text-align: center;
    padding-left: 20rem;
    padding-right: 20rem;
    font-family: 'Nanum Gothic', sans-serif;
}

#intro {
    background: linear-gradient(white, white);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}


#projectsTitle {
    background-image: url(momentista-8Bt4XgLODpU-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 20vh;
}

#projectsTitle h2 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    font-size: 5rem;
    font-family: 'Nanum Myeongjo', serif;
}

#projects {
    background-image: linear-gradient(white, white);
    background-size: cover;
    height: 100vh;
}

#projects figure{
    padding-top: 2rem;
    background: linear-gradient(cyan,cyan);
    width: 33%;
    height: auto;
}

footer #contact {
    display: flex;
    align-items: center;
    background-image: linear-gradient(#F4F4F4, #F4F4F4);
    background-size: cover;
  }

footer #contactinfo a {
    align-items: center;
    font-family: 'Nanum Gothic', sans-serif;
    color: black;
}

footer #bottominfo {
    background-image: linear-gradient(#2C2C2C, #2C2C2C);
    background-size: cover;
}
  
footer h1 {
      text-align: left;
      color: black;
      margin-left: 3rem;
      font-family: 'Nanum Myeongjo', serif;
  }

footer p {
      font-family: 'Nanum Gothic', sans-serif;
      margin-left: 2rem;
      color: white;
  }
  
  
footer nav {
      display: flex;
      justify-content: flex-end;
  }
