body {
    font-weight: 300;
}


@media only screen and (max-width:700px) {
    #projects figure {
        width: 100% !important;
    }

    #intro h1 {
        top: 20% !important;
        width: 100% !important;
    }

    #intro p {
        top: 25% !important;
        width: 100% !important;
        height: 20% !important;
        font-size: 3vmin !important;
        padding-right: 15%;
        padding-left: 15%; 
    }

    #navbar a {
        font-size: 3vmin !important;
        margin-right: 5% !important;
        right: 5% !important;
    }

    #projects h4 {
        font-size: 4vmin !important;
    }

    #projects p {
        font-size: 3vmin !important;
    }

    footer #contactinfo a {
        font-size: 2vmin !important;
        margin-left: 5% !important;
    }

}

#navbar {
    padding: 2%;
    margin-left: 2%;
}

#navbar a {
    color: black;
    font-family: 'Nanum Gothic', sans-serif;
    margin-right: 2%;
    font-size: 2vmin;
}

#navbar a:hover{
    color: black;
    text-decoration: none;
}

#navbar a:visited{
    text-decoration: none;
}


#splashPage {
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(momentista-8Bt4XgLODpU-unsplash.jpg);
    background-position: center;
}



 #splashPage h1 {
    text-align: center;
    top: 30%;
    /* height: 90vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vmin;
    font-family: 'Nanum Myeongjo', serif;
}

#intro h1 {
    text-align: center;
    top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 8%;
    padding-left: 8%; 
    font-size: 7vmin;
    font-family: 'Nanum Myeongjo', serif;
}

#intro p {
    font-size: 3vmin;
    top: 35%;
    text-align: center;
    padding-right: 8%;
    padding-left: 8%; 
    font-family: 'Nanum Gothic', sans-serif;
}

#intro {
    background: linear-gradient(white, white);
    background-position: center;
    background-size: cover;
    height: 100vh;
}


#projectsTitle {
    top: 5%;
    height: 20vh;
    background-image: url(momentista-8Bt4XgLODpU-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#projectsTitle h2 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    font-size: 6vmin;
    font-family: 'Nanum Myeongjo', serif;
}

#projects {
    background-image: linear-gradient(white, white);
}

#projects figure{
    padding-bottom: 3rem;
    width: 33.3333333333%;
    height: auto;
}

#projects h4 {
    padding-bottom: 2%;
    padding-top: 2%;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 3vmin;
}

#projects img {
    width: cover;
    height: auto;
    padding-bottom: 4%;
}

#projects p {
    font-family:'Nanum Gothic', sans-serif;
    font-size: 2vmin;
}

#projects a {
    color: black;
}

#projects a:hover {
    text-decoration: none;
}

footer #contact {
    display: flex;
    align-items: center;
    background-image: linear-gradient(#F4F4F4, #F4F4F4);
    background-size: cover;
    width: cover;
    height: 10%;
  }

footer #contactinfo a {
    align-items: center;
    font-size: 2vmin;
    font-family: 'Nanum Gothic', sans-serif;
    color: black;
}

footer #contactinfo a:hover {
    text-decoration: none;
}

footer #bottominfo {
    background-image: linear-gradient(#2C2C2C, #2C2C2C);
    background-size: cover;
    width: cover;
}
  
footer h1 {
      text-align: left;
      color: black;
      left: 5%;
      font-family: 'Nanum Myeongjo', serif;
      font-size: 5vmin;
  }

footer #bottominfo h1 {
      font-family: 'Nanum Gothic', sans-serif;
      text-align: left;
      left: 5%;
      margin-top: 1%;
      color: white;
      font-size: 1vmin;
  }
  
  
footer nav {
      display: flex;
      justify-content: flex-end;
  }